In [ ]:
import pandas as pd
from faker import Faker
import random
from datetime import datetime, timedelta

In [13]:
fake = Faker()
num_sellers = 1000
num_orders = 10000
num_feedback = 8000
num_inventory = 5000
num_audits = 2000
# seller
seller = pd.DataFrame({
    'seller_id': ['S'+ str(i) for i in range( 1, num_sellers+1)],
    'seller_name':[fake.company() for _ in range(num_sellers)],
    'region': [random.choice(['US West', 'US East','US North', 'US South']) for _ in range(num_sellers)],
    'start_date': [fake.date_between(start_date='-5y', end_date='today') for _ in range(num_sellers)],
    'email': [fake.email() for _ in range(num_sellers)]               
})

In [14]:
seller.head(3)

,seller_id,seller_name,region,start_date,email
0,S1,Garcia-Brown,US East,2021-12-24,bjones@example.org
1,S2,"Schneider, Butler and Hernandez",US South,2022-03-23,ortegacollin@example.org
2,S3,Rogers-Brown,US West,2021-07-16,hannahholland@example.net

In [15]:
# orders
order_details = pd.DataFrame({
    'order_id':[ 'Or' + str(i) for i in range(1, num_orders+1)],
    'seller_id': [random.choice(seller['seller_id'].tolist()) for _ in range(num_orders)],
    'order_date':[fake.date_between(start_date='-5y', end_date='today') for _ in range(num_orders)],
    'total_amount':[round(random.uniform(10,500),2) for _ in range(num_orders)]    
})

In [16]:
order_details.head(3)

  order_id seller_id  order_date  total_amount
0      Or1      S883  2023-05-19        419.76
1      Or2      S110  2025-05-30        220.92
2      Or3      S786  2024-07-19        308.39

In [17]:
# Inventory
inventory = pd.DataFrame({
    'inventory_id':['Inv' + str(i) for i in range(1,num_inventory+1)],
    'product_id':[f'P{random.randint(1000,9999)}' for _ in range(num_inventory)],
    'seller_id': [random.choice(seller['seller_id'].tolist()) for _ in range(num_inventory)],
    'stock_level':[random.randint(0,100) for _ in range(num_inventory)],
})

In [18]:
inventory.head(3)

  inventory_id product_id order_id  stock_level
0         Inv1      P6442    Or444           37
1         Inv2      P5706   Or5535           64
2         Inv3      P1524   Or2531           85

In [19]:
# Customer Feedback
customer_feedback = pd.DataFrame({
    'feedback_id': ['F' + str(i) for i in range(1, num_feedback + 1)],
    'order_id': [random.choice(order_details['order_id'].tolist()) for _ in range(num_feedback)],
    'seller_id': [random.choice(seller['seller_id'].tolist()) for _ in range(num_feedback)],
    'ratings': [random.randint(1,5) for _ in range(num_feedback)],
    'feedback_date': [fake.date_time_between(start_date='-5y', end_date='now') for _ in range(num_feedback)]
})

In [20]:
customer_feedback.head(3)

  feedback_id order_id seller_id  ratings       feedback_date
0          F1   Or4247       S65        3 2022-09-13 17:05:22
1          F2   Or6300      S118        2 2020-06-29 03:13:33
2          F3   Or7906      S831        1 2024-08-09 10:24:11

In [21]:
# audits
audits = pd.DataFrame({
    'audit_id': ['A' + str(i) for i in range(1, num_audits + 1)],
    'seller_id': [random.choice(seller['seller_id'].tolist()) for _ in range(num_audits)],
    'audit_date': [fake.date_time_between(start_date='-5y', end_date='now') for _ in range(num_audits)], # Corrected 'today' to 'now'
    'complaince_score': [random.randint(50, 100) for _ in range(num_audits)]
})

In [22]:
audits.head(3)

  audit_id seller_id          audit_date  complaince_score
0       A1      S847 2023-12-01 13:46:04                74
1       A2      S284 2023-08-02 03:52:41                68
2       A3      S443 2023-04-29 01:47:49                75

In [23]:
# Save to CSV
seller.to_csv('seller.csv', index=False)
order_details.to_csv('order_details.csv', index=False)
inventory.to_csv('inventory.csv', index=False)
customer_feedback.to_csv('customer_feedback.csv', index=False)
audits.to_csv('audits.csv', index=False)